body {
    background-color: rgb(8,8,8);
}
h1, h4, p, body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid white;
    border-radius: 7px;
    height: 40px;
    width: 100px;
}
#mainlinks { border: 3px solid white; color: white; font-weight: bold; background-color: #0000; }
#quizalt { border: 3px solid olivedrab; color: olivedrab; font-weight: bold; background-color: #0000; }
#sengines { border: 3px solid royalblue; color: royalblue; font-weight: bold; background-color: #0000; }
#gste { border: 3px solid tomato; color: tomato; font-weight: bold; background-color: #0000; }
#tmplt { border: 3px solid slateblue; color: slateblue; font-weight: bold; background-color: #0000; }
#bgame { border: 3px solid teal; color: teal; font-weight: bold; background-color: #0000;}
hr {
    color: white
}

.logo {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    
    background-color: rgb(239,239,239);
    border: 1px solid black;
    border-radius: 100%;
    width: 5%;
    height: 5%;
}
.logoctnr {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

input {
    width: 80%;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(4, 4, 4);
    border: 1px solid white;
    color: white;
}

.redirectsSpace {
    height: fit-content;
    width: fit-content;
    position: relative;
    padding: 1.5em
}
.redirects {
    height: fit-content;
    width: fit-content;
    background-color: rgb(16, 16, 16);
    border-radius: 15px;
}

/*COLLAPSIBLE CONTENT*/
.collapsible {
    background-color: rgb(16, 16, 16);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid white;
    text-align: left;
    height: 50%;
    outline: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.content {
    display: inline-block; /*only to get two divs next to each other*/
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #1f1f1f;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color:rgb(16, 16, 16)
}
::-webkit-scrollbar-thumb {
    background: rgb(45, 45, 45);
    border-radius: 10px;
}

#snackbar {
    font-family: 'Open Sans', sans-serif;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
    
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

    /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.spacer {
    font-size: 0.5%;
    height: 0.5%;
    color: #0000;
}

.h0 {
    font-size: 125%
}